header
{
    background-color: rgb(101, 101, 245);
    padding: 20px;
    padding-left: 80px;
    color: oldlace;
    
    

}
h1{
   
    text-transform: uppercase;
}
main{ 
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
h2{
    
    color: blue;
}
.section2{
    height: 420px;
    width: 300px;
    font-size: 12;
    font-family: sans-serif;
    box-sizing: border-box;
   border: 2px solid grey;
   border-radius: 5px;

}
#teacher{
    
    text-align: top;
    margin-left: 30;
}

footer
{
    background-color: rgb(101, 101, 245);
    padding: 20px;
    padding-left: 80px;
    color: oldlace;
    
    

}
