* {
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato ,sans-serif;
}

.header-container1 {
    padding: 10px;
}
.page-title {
    font-weight: 450;
}
.banner-container {
    padding: 200px 0px;
    position: relative;
    background-image: url('./Image/bg-masthead.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.heading-title {
    font-size: 48px;
    font-weight: 700;
}

.banner-button {
    margin-left: 10px;
}
.fearture-container .far, .fearture-container .fas {
    font-size: 60px;
    color: rgb(0, 38, 255);
    margin-bottom: 20px;
}
.fearture-container .title{
    font-size: 28px;
    font-weight: bold;
}
.fearture-container{
    padding: 100px 0;
}
.fearture-container .fearture-item{
    padding: 0 40px;
}
.detail-feature-container .feature-item-info{
    padding: 100px;
}
.detail-feature-container .feature-item-info .title {
    font-size: 28px;
    font-weight: bold;
}
.detail-feature-container .feature-item-info .description{
    font-size: 20px;
    font-weight: 400;
}
.detail-feature-container .feature-item-img{
    background-image: url('./Image/bg-showcase-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detail-feature-container .feature-item-img3{
    background-image: url('./Image/bg-showcase-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detail-feature-container .feature-item-img2{
    background-image: url('./Image/bg-showcase-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials-container .customer-item .customer-avatar{
    height: 190px;
    width: 190px;
    box-shadow: 3px 3px 5px grey ;
    
}

.testimonials-container .customer-item .customer-name {
    font-weight: bold;
    font-size: 20px;
}
.testimonials-container .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.testimonials-container{
    padding: 100px 0;
}
.banner-container1 {
    padding: 50px 0px;
    position: relative;
    background-image: url('./Image/bg-masthead.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.banner-container1 h1{
    font-size: 35px;
}
.footer-container{
    padding: 50px 0px;
}
.footer-container p {
    font-size: 14px;
    padding-left: 1rem;
}
.footer-container .fab {
    font-size: 32px;
    margin-left: 30px;
    color: aqua;
}